APP_NAME="NAME"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=daily,nightwatch
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# PRASMANAN CONFIG =======================================
# activitylog.php
ACTIVITY_LOGGER_ENABLED=true

# broadcast.php
BROADCAST_CONNECTION=reverb
REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

# filament.php
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
VITE_REVERB_DISABLE_STATS=false
VITE_REVERB_ENCRYPTED=false
VITE_REVERB_FORCE_TLS=false

# horizon.php
HORIZON_MEMORY_LIMIT=256

# laravel-pdf.php
LARAVEL_PDF_DRIVER=gotenberg
GOTENBERG_URL=http://127.0.0.1:9011

# livewire.php
PRASMANAN_TEMPORARY_MAX_FILE_SIZE=51200

# reverb.php
REVERB_SERVER_HOST="0.0.0.0"
REVERB_SERVER_PORT=8080
REVERB_MAX_REQUEST_SIZE=10000

# scout.php
SCOUT_DRIVER=meilisearch
SCOUT_PREFIX=
SCOUT_QUEUE=true
SCOUT_SOFT_DELETE=false
MEILISEARCH_HOST="http://localhost:7700"
MEILISEARCH_KEY=

# services.php
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI="${APP_URL}/auth/google/callback"

CLOUDFLARE_TURNSTILE_SITE_KEY=
CLOUDFLARE_TURNSTILE_SECRET_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# webpush.php
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=${APP_URL}
VITE_VAPID_PUBLIC_KEY=${VAPID_PUBLIC_KEY}

# prasmanan
PRASMANAN_HORIZON_MAIL_TO=

# ================================
# PWA & VITE
VITE_APP_NAME="${APP_NAME}"

VITE_PWA_NAME="NAME"
VITE_PWA_SHORT_NAME="SHORT NAME"
VITE_PWA_DESCRIPTION="DESCRIPTION"
VITE_PWA_THEME_COLOR="#4B5563"

# NIGHTWATCH
NIGHTWATCH_ENABLED=true
NIGHTWATCH_TOKEN=

NIGHTWATCH_LOG_LEVEL=error

NIGHTWATCH_CAPTURE_REQUEST_PAYLOAD=true
NIGHTWATCH_CAPTURE_EXCEPTION_SOURCE_CODE=true

NIGHTWATCH_IGNORE_REQUEST_HEADERS=true
NIGHTWATCH_IGNORE_QUERIES=true
NIGHTWATCH_IGNORE_OUTGOING_REQUESTS=true
NIGHTWATCH_IGNORE_CACHE_EVENTS=true
NIGHTWATCH_IGNORE_MAIL=true
NIGHTWATCH_IGNORE_NOTIFICATIONS=true

NIGHTWATCH_EXCEPTION_SAMPLE_RATE=1.0
NIGHTWATCH_COMMAND_SAMPLE_RATE=0.0
NIGHTWATCH_REQUEST_SAMPLE_RATE=0.0
NIGHTWATCH_SCHEDULED_TASK_SAMPLE_RATE=1.0
